.jumbotron {
  padding-top: 90px;
  min-height: 600px;
  margin-bottom: 0;
  background-image: url('images/fruit.jpg');
  background-size: cover;
  background-attachment: fixed;
}
#social-buttons button {
	color: white;
}
.btn-twitter {
	background-color: #00acee;
}
.btn-facebook{
	background-color: #4868ac;
	border-color: #314776;
}
.btn-pinterest{
	background-color: #b62f26;
	border-color: #b62f26;
}
